version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - DATABASE_USER=youruser
      - DATABASE_PASSWORD=yourpassword
      - DATABASE_NAME=yourdbname
    restart: always

