version: '3.8'

services:
 app:
   build:
     context: ..
     dockerfile: infra/Dockerfile
   ports:
     - "3000:3000"
   environment:
     - NODE_ENV=production
     - NODE_TLS_REJECT_UNAUTHORIZED=0
     - API_KEY=1ab2c3d4e5f61ab2c3d4e5f6
     - DATABASE_URL=postgresql://postgres:12345678@172.17.0.1:5432/test_legalsal?schema=public
     - CRON_EXPRESSION_DELETE_REPORTES=0 5 * * *
     - PATH_REPO_REPORTES=/app/data/RepoReporte/
     - PORT_CORE=3000
   restart: always
   command: ["sh", "-c", "npm run start:prod"]
   volumes:
     - /tmp/dataFiles:/app/data
